/* base styles */
a {
  text-decoration: none;
  color: rgb(226, 222, 220);
  font-family: "Times New Roman", Times, serif;
}
body {
  background-color: rgb(167, 224, 224);
  font-family: Arial, Helvetica, sans-serif;  
}
*{
  /* outline: solid red 1px; */
 }
/* site styles */

header {
  background-color: rgb(61, 23, 23);
  height: 50px;
}

header section {
  margin: 0 auto;
  width: 960px;
}

header img {
  width: 100px;
  height: 40px;
  float: left;
  padding: 0px 0px 0px 0px;
}

header nav li{
  display: inline-block;
  margin-right: 10px;
  margin-top: 18px;
  margin-left: 30px;
}

section {
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  width: 960px;
  margin: 10px auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 200;
  font-family: 'Abel';
}
p {
  margin: 5px;
}

main ul {
  list-style-type: circle;
  margin-left: 20px;
  margin-top: 10px;
}

main ul li {
  margin-left: 10px;
}

div#allStoreDialySalesDetails section{
  width: 225px;
  display: inline-block;
  margin-right: 10px;

}

div#allStoreDialySalesDetails section h2{
  color : blue;
}

div#allStoreDialySalesDetails section table{
  overflow: auto;
  font-size: .8em;
}

tbody {
  font-size: .8em;
}
thead {
  background: #888;
  font-weight: bold;
  font-size: .8em;
}

tfoot {
  background: rgb(196, 186, 186);
  font-weight: bold;
}

th {
  padding: 10px;
  border: solid 1px black;
}

td {
  padding: 6px;
  border: solid 1px black;
}


fieldset {
  padding: 10px 10px 0 0;
  width: 600px;
}

fieldset label{
  padding: 5px;
}

input[type="text"] {
  border: solid 1px black;
  padding: 5px;
  border-radius: 3px;
  width: 50%;
  float: right;
}

input[type="number"] {
  border: solid 1px black;
  padding: 5px;
  border-radius: 3px;
  width: 50%;
  float: right;
}

button {
  background: black;
  color: white;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 290px;
  width: 150px;
  height: 30px;
  font-size: medium;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

div {
  margin-bottom: 20px;
}

